<div class="d-flex">
    <div class="d-flex flex-column">
        <img src="{{getBook.image_url}}" alt="book-img" height="100%" width="100%">
        <code>Pages: {{getBook.pages}} </code>
        <code>Rating: {{getBook.rating}} ({{getBook.rating_count}})</code>
        <code>Genres: {{genres}} </code>

    </div>

    <div class="mt-5 ml-5 description">
        <h1>{{getBook.title}}</h1>
        <h4>by {{authors}}</h4>
        <p>{{getBook.description}}</p>
        <form action="#" method="get">
            <button class="btn nextprev-btn" formaction="/reviews/{{getBook.title}}">Find Review</button>
        </form>

    </div>
    <form action="#" method="get">
        <button class="btn home-btn" formaction="/">Home</button>
    </form>
</div>