<div class="d-flex justify-content-between">
    <h1> Search results for: {{letter}}</h1>
    <form action="#" method="get">
        <button class="btn home-btn" formaction="/">Home</button>
    </form>
</div>

{{#if hasRecords}}
<table class="table table-hover">
    {{#each records}}
    <tr>
        <td><a href="/{{../letter}}/{{this.book_id}}">{{this.title}}</a></td>
    </tr>
    {{/each}}
</table>
<div class="d-flex justify-content-between">
    {{#if prevInactive}}
    <button class="btn nextprev-btn" type="submit" disabled >Previous</button>
    {{else}}
    <form action="/{{letter}}" method="GET">
        <input type="hidden" name="offset" value="{{prevOffset}}">
        <button class="btn nextprev-btn" type="submit">Previous</button>
    </form>
    {{/if}}
    {{#if nextInactive}}
    <button class="btn nextprev-btn" type="submit" disabled >Next</button>
    {{else}}
    <form action="/{{letter}}" method="GET">
        <input type="hidden" name="offset" value="{{nextOffset}}">
        <button type="submit" class="btn nextprev-btn">Next</button>
    </form>
    {{/if}}


</div>


{{else}}
<h3>No books starting with {{letter}} found</h3>

{{/if}}